<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Proud of you !</title>
</head>

<body>
    <div class="all">
        <h1> Félicitations ! </h1>
        <img src="{{ url_for('static', filename='assets/giphy.gif')}}" alt="oooooh!">
        <p>Vous avez téléchargé une image publique sur Docker Hub et lancé votre premier container</p>
        <p>Vous n'avez même pas besoin de savoir le langage de programmation utilisé pour pouvoir utiliser cette image <p>    
    </div>
</body>
</html>
